<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user_fname}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Booking:</h3>
    <form class="form new-booking-form">
      <fieldset>
        <legend>Please select your preferred daycare:</legend>
        <div>
          {{#each daycares as |daycare| }}
          <input type="radio" id="daycare-{{daycare.id}}" name="daycareName" value="{{daycare.id}}" />
          <label for="daycare-{{daycare.id}}">{{daycare.daycare_name}}</label>
          {{/each}}
        </div>
        {{!-- <div>
          <button type="submit">Submit</button>
        </div> --}}
      </fieldset>
                {{#if userHasKids}}
     <fieldset>
        <legend>Please select the child you wish to book for:</legend>
        <div>
           {{#each kids as |kid| }}
          <input type="radio" id="kid-{{kid.id}}" name="kidName" value="{{kid.id}}" />
          <label for="kid-{{kid.id}}">{{kid.kid_firstname}}</label>
          {{/each}}
        </div>
        {{!-- <div>
          <button type="submit">Submit</button>
        </div> --}}
      </fieldset>
      {{else}}
      <p>You do not have any children in the system yet, please set them up to complete booking!</p>
          {{/if}}
      <div class="form-group">
        <label for="book-date">Booking Date:</label>
        <input class="form-input" type="date" id="book-date" name="book-date" min="2023-09-26" max="2023-12-30" />
        <div class="form-group">
          <label for="book-time">Booking Time:</label>
          <input class="form-input" type="time" id="book-time" name="kid-age" min="09:00" max="12:00" />
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Booking</button>
          </div>
          <input type="hidden" id="userId" name="userId" value={{user_id}} />
    </form>
  </div>


{{!-- <script src="./js/booknow.js"></script> --}}